{% extends './base.html' %}
{% load static%}
{% block content%}
    <div class="container">
       <div class="row">
           <div class="col-md-6">
                <img src="{% static 'images/me.jpg' %}" class="img img-responsive">
           </div>
           <div class="col-md-6">
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique repellat eum exercitationem molestias dicta voluptatum sunt vel itaque incidunt, culpa, suscipit temporibus optio architecto provident quasi cumque. Officia, sapiente vitae.orem, ipsum dolor sit amet consectetur adipisicing elit. Similique repellat eum exercitationem molestias dicta voluptatum
                sunt vel itaque incidunt, culpa, suscipit temporibus optio architecto provident quasi cumque. Officia, sapiente vitae.orem, ipsum dolor sit amet consectetur adipisicing elit. Similique repellat eum exercitationem molestias dicta voluptatum
                sunt vel itaque incidunt, culpa, suscipit temporibus optio architecto provident quasi cumque. Officia, sapiente vitae.</p>
           </div>
       </div>
    </div>
{% endblock%}