{%extends './base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if searched_images%}
      <h2>Found {{ searched_images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 searched_images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if searched_images %}
    {% for image in searched_images %}
      <div class="col-sm-6 col-md-3">
          <h1><a href="">{{image.image_name}}</a></h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}